aiofiles
bard
SpeechRecognition
aiohttp
asyncio
deepai
python-whois
dnspython
ffmpeg-python
gitpython
Faker
pydub
pycountry
heroku3
apscheduler
motor
numpy
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
py-tgcalls==0.9.7
python-dotenv
pyyaml==6.0.1
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
yt-dlp
gpytranslate
openai==0.28.0
pickledb
python-telegram-bot==20.7
cloudscraper
pycryptodome
opencv-python-headless  # swap this if you really need opencv
pyrogram==2.0.106       # pick either this or python-telegram-bot, not both
beautifulsoup4
